<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/live_speech_translator.jpg` | relURL }}" width="150" height="150" alt="Speech Translation">
        <h2 class="h2">Live Speech Translation</h2>
        <p>Break through the language barrier and connect individuals with different backgrounds.
            The Voice Tech Collar will translate everything you say to the selected language in real time! </p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/voice_changer.webp` | relURL }}" width="150" height="150" alt="Voice Changer">
        <h2 class="h2">Voice Changer</h2>
        <p>Users can unleash their creativity and changer their voice. 
            The Voice Tech Collar offers a variety of voice modulation options, from pitch and tone adjustments to gender and age transformations, 
            allowing you to morph your voice into anything from a majestic creature to a futuristic robot
        </p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/megaphone.png` | relURL }}" width="150" height="150" alt="Megaphone">
        <h2 class="h2">Megaphone</h2>
        <p>Users can use Voice Tech Collar to make their voices louder. Trying to control a crowd? Can someone not hear what you're saying? Trying to get someone's attention? Well the Voice Tech Collar got your back
            with this feature.
        </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2"> Speech Clarifier</h2>
        <p> Those with speech disabilities can use the Voice Tech Collar to make their speech clearer. 
            Voice Tech Collar utilizes AI to predict the user's words through their vocal vibrations and mouth movements.
            This AI customizes itself to its user, so it will learn the speech pattern of its user overtime</p>
        
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Massager</h2>
        <p> Designed to redefine relaxation. 
            It effortlessly targets tense muscles, providing a customized and deeply rejuvenating massage experience. 
            With multiple intensity levels, this feature offers a tailored solution for every ache and stress point on the neck, making it your perfect companion for unwinding after a long day.
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Easy To Use</h2>
        <p>The Voice Tech Collar comes with an app that is used to turn on/off different features we offer.
            On the app, users can also select the language the want their speech to translate into, select one of many type of voices 
            users can change their voice into, the degree of loudness they want to project their voice, . This app is free to download and is available on every mobile platform.
        </p>
    </div>
</div>
